/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;

    --gradient-color-1: #a78bca;
    --gradient-color-2: #a7d3f7;
    --gradient-color-3: #a78bca;

  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --gradient-color-1: #4c1d95;
    --gradient-color-2: #134e4a;
    --gradient-color-3: #4c1d95;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-prose p,
.custom-prose h1,
.custom-prose h2,
.custom-prose h3,
.custom-prose h4,
.custom-prose blockquote,
.custom-prose ul,
.custom-prose ol,
.custom-prose code {
  margin-bottom: 1.5rem;
}

/* Make the headers stand out */
.custom-prose h1,
.custom-prose h2,
.custom-prose h3,
.custom-prose h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.custom-prose h1 {
  font-size: 2.25rem;
}

.custom-prose h2 {
  font-size: 1.75rem;
}

.custom-prose h3 {
  font-size: 1.5rem;
}

.custom-prose h4 {
  font-size: 1.25rem;
}

/* Ensure ordered lists display their numbers */
.custom-prose ol,
.custom-prose ul {
  list-style: decimal; /* Ensures numbers are displayed */
  margin-left: 1rem; /* Adds space on the left for the numbers */
  padding-left: 1rem; /* Adds padding to align the numbers neatly */
}

/* Optional: Style the list items for better readability */
.custom-prose ol li,
.custom-prose ul li {
  margin-bottom: 0.5rem; /* Adds spacing between list items */
}

/* Remove margin-bottom for the last element */
.custom-prose > :last-child {
  margin-bottom: 0;
}

@media (min-height: 800px) {
  .chat-container {
    height: calc(100vh - 200px); /* Height for larger screens */
  }
}

@media (max-height: 600px) {
  .chat-container {
    height: 300px; /* Fixed height on smaller screens */
  }
}

/* Default for other heights */
.chat-container {
  height: calc(100vh - 400px); /* Default calculation */
}

.animate-spin-slow {
  background: linear-gradient(120deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-3));
  background-size: 200% 200%;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}